/* --- ############# xxx ############# --- */
*{
  box-sizing: border-box;
}
html{
  background-color: red;
}
.tmp {
  margin: auto;
  width: 83%;
  text-align: center;
}

/* --- ############# xxx ############# --- */
/* --- ############# xxx ############# --- */
/* --- ############# xxx ############# --- */
/* --- ############# xxx ############# --- */
/* --- ############# xxx ############# --- */
/* --- ############# xxx ############# --- */
